@import "../common/common.scss";
@import '../common/video.scss';

.menu-wrap{
  width : 100%;
  height : 60px;
  background-color:  #ffffff;
  overflow: hidden;
  >div{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    height:100%;
    position: relative;
    >div{
      width:127px;
      height:50px;
      margin-top:3px;
      >div{
        width:100%;
        height:36px;
        background: url("/static/img/logo.png");
      }
      >h3{
        font-size:14px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
        word-wrap: normal;
        white-space:nowrap;
      }
    }
    >ul{
      position: absolute;
      bottom:6px;
      right:0;
      >li{
        height:23px;
        padding: 0 15px;
        text-align: center;
        float: left;
        font-size:15px;
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
        >a{
          color:#6d6d6d;
          font-weight: bold;
        }
        &:hover{
          >a{
            color:#f66;
          }
        }
        &.active{
          >a{
            color:#f66;
          }
          border-bottom: 2px solid #f66;
        }
      }
    }
  }
}

.page-section{
  width: 100%;
}

.footer-wrap{
  background-color: #999;
  height: 45px;
  line-height: 45px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}