@import "../common/mixin.scss";

#list-page{
  .wrap{
    width: 100%;
    >div{
        width: 1000px;
        margin: 0 auto;
        padding: 25px 0;
    }
    &.t1{
        background: #efefef;
        padding: 0;
        >div{
            height: 460px;
            background: #fff;
            @include imgBgFix(100% 100%);
            background-image: url('/static/list/0.png');
        }
    }
    &.t2{
        background: rgb(255, 252, 244);
        height: 330px;
        padding: 20px 0;
        >div{
            padding:0 0 10px 0;
            background: #fff;
            border-radius: 4px;
            h3{
                height: 50px;
                line-height: 50px;
                color: #666;
                font-size: 20px;
                padding-left: 15px;
                border-bottom: 1px solid #eee;
                &:before{
                    content: "";
                    display: inline-block;
                    width: 22px;
                    height: 22px;
                    @include imgBgFix(22px 22px);
                    margin-right: 6px;
                    vertical-align: middle;
                    margin-top: -2px;
                    background-image: url("/static/list/13.png");
                }
            }

            ul{
                padding-top: 10px;
                padding-left: 15px;
            }
            li{
                width: 316px;
                float: left;
                height: 220px;
                border: 1px solid #eee;
                margin-right: 11px;
                cursor: pointer;
                &:hover{
                    border-color: #f66;
                    color: #f66;
                }
                >div{
                    line-height: 40px;
                    padding-left: 12px;
                }
                &:before{
                    content: "";
                    display: block;
                    height: 180px;
                    @include imgBgFix(100% 100%);
                }
                &:nth-of-type(1){
                    &:before{
                        background-image: url('/static/list/1.jpg');
                    }
                }
                &:nth-of-type(2){
                    &:before{
                        background-image: url('/static/list/2.jpg');
                    }
                }
                &:nth-of-type(3){
                    &:before{
                        background-image: url('/static/list/3.jpg');
                    }
                    margin-right: 0;
                }
            }
        }
    }
    &.t3{
        background: #efefef;
        >div{
            height: 470px;
        }
        .left,.right{
            background-color: #fff;
            border-radius: 4px;
            float: left;
            box-sizing: border-box;
            height: 100%;
            h3{
                height: 50px;
                line-height: 50px;
                color: #666;
                font-size: 20px;
                padding-left: 15px;
                border-bottom: 1px solid #eee;
                &:before{
                    content: "";
                    display: inline-block;
                    width: 22px;
                    height: 22px;
                    @include imgBgFix(22px 22px);
                    margin-right: 6px;
                    vertical-align: middle;
                    margin-top: -2px;
                }
            }
        }
        .left{
            width: 690px;
            margin-right: 10px;
            h3{
                &:before{
                    background-image: url('/static/list/5.png');
                }
            }
            ul{
                padding-top: 15px;
                padding-left: 15px;
            }
            li{
                float: left;
                width: 213px;
                height: 340px;
                border:1px solid #f0f0f0;
                margin-right: 10px;
                text-align: center;
                cursor: pointer;
                >div{
                    line-height: 40px;
                }
                &:hover{
                    border-color: #f66;
                    color: #f66;
                }
                &:before{
                    content: "";
                    display: block;
                    height: 300px;
                    @include imgBgFix(100% 100%);
                }
                &:nth-of-type(1){
                    &:before{
                        background-image: url("/static/list/7.jpg");
                    }
                }
                &:nth-of-type(2){
                    &:before{
                        background-image: url("/static/list/8.jpg");
                    }
                }
                &:nth-of-type(3){
                    &:before{
                        background-image: url("/static/list/9.jpg");
                    }
                    margin-right: 0;
                }
            }
        }
        .right{
            width: 300px;
            h3{
                &:before{
                    background-image: url('/static/list/6.png');
                }
            }
            ul{
                padding: 15px;
            }
            li{
                height: 105px;
                border:1px solid #f0f0f0;
                cursor: pointer;
                margin-bottom: 12px;
                @include imgBgFix(100% 100%);
                &:hover{
                    border-color: #f66;
                }
                &:nth-of-type(1){
                    background-image: url('/static/list/10.jpg');
                }
                &:nth-of-type(2){
                    background-image: url('/static/list/11.jpg');
                }
                &:nth-of-type(3){
                    background-image: url('/static/list/12.jpg');
                }
            }
        }
    }
  }
}
