@import "../common/mixin.scss";

#music-page{
    background: #efefef;
    width: 100%;
    padding: 20px 0 0;
   .wrap{
       width: 1000px;
       box-sizing: border-box;
       margin: 0 auto 10px;
       text-align: center;
   }
   .left,.right{
       float: left;
       box-sizing: border-box;
       background: #fff;
       border-radius: 4px;
       min-height: 300px;
   }
   .left{
       width: 200px;
       text-align: left;
       padding: 8px 0;
       h3{
           font-size: 18px;
           line-height: 48px;
           border-bottom: 1px solid #eee;
           padding-left: 15px;
       }
       ul{
           padding: 6px 0;
       }
       li{
           text-align: left;
           padding-left: 15px;
           height: 46px;
           line-height: 46px;
           border-bottom: 1px solid #f6f6f6;
           cursor: pointer;
           &:before{
               content: "";
               display: inline-block;
               width: 16px;
               height: 16px;
               @include imgBgFix(16px 16px);
               margin-right: 10px;
               vertical-align: middle;
               margin-top: -2px;
           }
           &:hover,&.active{
               color: #f66;
               border-bottom-color: #f66;
           }
           &:nth-of-type(1):before{
               background-image: url('/static/music/20130807185439172736.png')
           }
           &:nth-of-type(2):before{
               background-image: url('/static/music/wlhg.png')
           }
           &:nth-of-type(3):before{
               background-image: url('/static/music/20160119110054378246.jpg')
           }
           &:nth-of-type(4):before{
               background-image: url('/static/music/20130807184914908217.png')
           }
           &:nth-of-type(5):before{
               background-image: url('/static/music/20151222142404906327.png')
           }
           &:nth-of-type(6):before{
               background-image: url('/static/music/20160412184815439777.png')
           }
           &:nth-of-type(7):before{
               background-image: url('/static/music/20151008190401233496.png')
           }
           &:nth-of-type(8):before{
               background-image: url('/static/music/20161013180833243081.png')
           }
           &:nth-of-type(9):before{
               background-image: url('/static/music/20160912141731629726.png')
           }
           &:nth-of-type(10):before{
               background-image: url('/static/music/20140730093845344657.png')
           }
           &:nth-of-type(11):before{
               background-image: url('/static/music/20131025103853305845.png')
           }
           &:nth-of-type(12):before{
               background-image: url('/static/music/20160504171514518791.png')
           }
           &:nth-of-type(13):before{
               background-image: url('/static/music/20170418110751911964.jpg')
           }
           &:nth-of-type(14):before{
               background-image: url('/static/music/20140827151250799981.png')
           }
       }
   }
   .right{
       margin-left: 10px;
       width: 790px;
       padding-top: 6px;
       h3{
           color: #4d4d4d;
           font-size: 20px;
           text-align: left;
           padding-left: 15px;
           height: 50px;
           line-height: 50px;
           border-bottom: 1px dotted #ccc;
           >span{
               color: #ccc;
               font-size: 15px;
               margin-left: 10px;
           }
           >a{
               float: right;
               margin-right: 10px;
               font-size: 16px;
               background-color: #f66;
               color: #fff;
               padding: 0 12px;
               line-height: 40px;
               border-radius: 4px;
               cursor: pointer;
               &:hover{
                   text-decoration: underline;
               }
           }
       }

       ul{
        padding: 6px 0;
       }
       li{
           text-align: left;
           height: 46px;
           line-height: 46px;
           border-bottom: 1px solid #f6f6f6;
           padding-left: 15px;
           cursor: pointer;
           &:hover{
               color: #f66;
               border-bottom-color: #f66;
           }
           div{
               display: inline-block;
               width: 16px;
               height: 16px;
               vertical-align: middle;
               margin-top: -3px;
               margin-right: 6px;
               background-image: url('/static/music/check-box.png');
               &.active{
                   background-image: url('/static/music/icon_check-box.png')
               }
           }
           >span{
               &:nth-of-type(1){
                   display: inline-block;
                   width: 20px;
                   text-align: right;
                   margin-right: 10px;
               }
               &:nth-of-type(2){

               }
               &:nth-of-type(3){
                   float: right;
                   margin-right: 20px;
               }
           }
       }
   }
}
