html, body, div, span, h1, h2, h3, h4, button, h5, h6, p, blockquote, a, pre, cite, img, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

html, body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  color: #817c7c;
  background-color: #fff;
  font: 16px/1.5 "Helvetica Neue", "Helvetica", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
  overflow: auto;
  -webkit-font-smoothing: antialiased; }

button {
  outline: none;
  color: inherit; }

ol, ul {
  margin: 0;
  padding: 0; }

ol, ul, li {
  list-style: none; }

i, em {
  font-style: normal; }

a {
  outline: none;
  text-decoration: none;
  color: inherit;
  font-size: inherit; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  input:focus, textarea:focus, select:focus {
    border-color: #0099ff;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 153, 255, 0.6); }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    font-style: italic;
    color: #ddd; }

select, option {
  font-family: inherit;
  padding: 6px 7px;
  max-width: 300px;
  vertical-align: middle;
  font-size: 15px; }

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; }

.clear-fix:before, .clear-fix:after {
  content: "";
  display: block; }

.clear-fix:after {
  clear: both; }

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }

.fade-enter, .fade-leave-active {
  opacity: 0.3; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  overflow-y: auto;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out; }
  .modal > div {
    max-width: 600px;
    width: 96%;
    background-color: #fff;
    margin: 3% auto 0;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
    transition: transform .5s ease-out, -webkit-transform .5s ease-out;
    -webkit-transform: translate(0, -30%);
            transform: translate(0, -30%); }
    .modal > div > h3 {
      height: 50px;
      line-height: 50px;
      background-color: #003366;
      padding-left: 20px;
      font-size: 16px;
      color: #fff; }
      .modal > div > h3 > span {
        float: right;
        margin-right: 10px;
        color: #ccc; }
        .modal > div > h3 > span:hover {
          cursor: pointer;
          color: #eee; }
    .modal > div > div.footer {
      height: 60px;
      border-top: 1px solid #d9d9d9;
      text-align: right;
      line-height: 60px; }
      .modal > div > div.footer > a {
        padding: 10px 18px;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 15px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .modal > div > div.footer > a.cancel {
          background-color: #ddd;
          color: #999; }
          .modal > div > div.footer > a.cancel:hover {
            background-color: #aaa;
            color: #666; }
        .modal > div > div.footer > a.ok {
          background-color: #17579d;
          color: #fff; }
          .modal > div > div.footer > a.ok:hover {
            background-color: #003366; }
      .modal > div > div.footer > span.tip {
        display: none;
        float: left;
        padding-left: 20px;
        color: #ff6666;
        font-weight: bold; }
        .modal > div > div.footer > span.tip.ok {
          color: #00aa00; }
    .modal > div > div.content {
      margin: 8px;
      padding: 10px 15px;
      background: #eee;
      border-radius: 4px; }
      .modal > div > div.content > div {
        margin-bottom: 8px; }
        .modal > div > div.content > div > input, .modal > div > div.content > div > textarea, .modal > div > div.content > div > label {
          float: left; }
        .modal > div > div.content > div > label {
          display: inline-block;
          width: 120px;
          text-align: right;
          line-height: 32px; }
        .modal > div > div.content > div > input, .modal > div > div.content > div > textarea {
          padding: 6px 8px;
          width: 350px; }
        .modal > div > div.content > div > textarea {
          height: 90px;
          resize: none; }
        .modal > div > div.content > div:last-child {
          margin-bottom: 0; }
  .modal.active {
    opacity: 1; }
    .modal.active > div {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
  .modal.loading > div > div.page-mask {
    display: block; }

.page-mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3); }
  .page-mask > div {
    position: absolute;
    width: 70px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin-left: -35px;
    margin-top: -30px;
    text-align: center;
    font-size: 10px; }
    .page-mask > div > i {
      display: inline-block;
      background-color: #fff;
      height: 100%;
      width: 6px;
      -webkit-animation: loading-ani 1.2s infinite ease-in-out;
      animation: loading-ani 1.2s infinite ease-in-out;
      margin-left: 8px;
      border-radius: 6px; }
      .page-mask > div > i:nth-of-type(1) {
        margin-left: 0; }
      .page-mask > div > i:nth-of-type(2) {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s; }
      .page-mask > div > i:nth-of-type(3) {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s; }
      .page-mask > div > i:nth-of-type(4) {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s; }
      .page-mask > div > i:nth-of-type(5) {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s; }

@-webkit-keyframes loading-ani {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }
@keyframes loading-ani {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
.menu-wrap {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  overflow: hidden; }
  .menu-wrap > div {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative; }
    .menu-wrap > div > div {
      width: 127px;
      height: 50px;
      margin-top: 3px; }
      .menu-wrap > div > div > div {
        width: 100%;
        height: 36px;
        background: url("/static/img/logo.png"); }
      .menu-wrap > div > div > h3 {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
        word-wrap: normal;
        white-space: nowrap; }
    .menu-wrap > div > ul {
      position: absolute;
      bottom: 6px;
      right: 0; }
      .menu-wrap > div > ul > li {
        height: 23px;
        padding: 0 15px;
        text-align: center;
        float: left;
        font-size: 15px;
        margin-right: 10px; }
        .menu-wrap > div > ul > li:last-child {
          margin-right: 0; }
        .menu-wrap > div > ul > li > a {
          color: #6d6d6d;
          font-weight: bold; }
        .menu-wrap > div > ul > li:hover > a {
          color: #f66; }
        .menu-wrap > div > ul > li.active {
          border-bottom: 2px solid #f66; }
          .menu-wrap > div > ul > li.active > a {
            color: #f66; }

.page-section {
  width: 100%; }

.footer-wrap {
  background-color: #999;
  height: 45px;
  line-height: 45px;
  color: #fff;
  font-size: 14px;
  text-align: center; }
  .footer-wrap > a {
    margin-left: 10px; }
    .footer-wrap > a:hover {
      text-decoration: underline; }
