#video-page .wrap {
  width: 100%;
  background: #efefef; }
  #video-page .wrap.blue {
    background: #fffcf4; }
  #video-page .wrap.pad {
    padding: 20px 0; }
#video-page .video, #video-page .content {
  width: 1000px;
  margin: 0 auto; }
#video-page .content {
  padding: 20px 0 20px; }
#video-page .video {
  height: 420px;
  background: #333; }
  #video-page .video > .video-js {
    width: 100%;
    height: 100%; }
