@import "../common/mixin.scss";

#game-page{
  .wrap{
    width: 100%;
    background: #efefef;
    &.blue{
      background: rgb(255, 252, 244)
    }
  }
  .list{
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0 20px;
    h3{
      position: relative;
      font-size: 18px;
      font-weight: bold;
      color: #f66;
      padding: 4px 6px 4px 56px;
      border-bottom: 1px solid #ddd;
      &:before{
        content: "";
        width: 48px;
        height: 48px;
        position: absolute;
        background-size: 48px 48px;
        bottom: 4px;
        left: 0;
        border-radius: 6px;
      }
      &.m1{
        &:before{
          background-image: url("/static/img/game/ico1.jpg");
        }
      }
      &.m2{
        &:before{
          background-image: url("/static/img/game/ico2.png");
        }
      }
    }

    ul{
      li{
        width: 235px;
        height: 350px;
        border: 1px solid #ddd;
        float: left;
        margin: 20px 10px 15px;
        background-size: cover;
        transition: transform 0.3s ease-out;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
        &:hover{
          box-shadow: 0 0 16px rgba(0,0,0,0.4);
          transform: translateY(-6px);
        }
      }
      &.m1{
        >li{
          &:nth-of-type(1){
            background-image: url('/static/img/game/m1.jpg');
          }
          &:nth-of-type(2){
            background-image: url('/static/img/game/m2.jpg');
          }
          &:nth-of-type(3){
            background-image: url('/static/img/game/m3.jpg');
          }
          &:nth-of-type(4){
            background-image: url('/static/img/game/m4.jpg');
          }
        }
      }
      &.m2{
        >li{
          &:nth-of-type(1){
            background-image: url('/static/img/game/h1.jpg');
          }
          &:nth-of-type(2){
            background-image: url('/static/img/game/h2.jpg');
          }
          &:nth-of-type(3){
            background-image: url('/static/img/game/h3.jpg');
          }
          &:nth-of-type(4){
            background-image: url('/static/img/game/h4.jpg');
          }
        }
      }
    }

    h4{
      font-weight: bold;
      color: #4d4d4d;
      border-bottom: 1px solid #ddd;
      margin-bottom: 10px;
      line-height: 2.0;
      &.m{
        margin-top: 8px;
      }
    }
    >img{
      display: block;
      width: 500px;
      height: 300px;
      margin: 10px auto 0;
    }
  }
}