#game-page .wrap {
  width: 100%;
  background: #efefef; }
  #game-page .wrap.blue {
    background: #fffcf4; }
#game-page .list {
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0 20px; }
  #game-page .list h3 {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #f66;
    padding: 4px 6px 4px 56px;
    border-bottom: 1px solid #ddd; }
    #game-page .list h3:before {
      content: "";
      width: 48px;
      height: 48px;
      position: absolute;
      background-size: 48px 48px;
      bottom: 4px;
      left: 0;
      border-radius: 6px; }
    #game-page .list h3.m1:before {
      background-image: url("/static/img/game/ico1.jpg"); }
    #game-page .list h3.m2:before {
      background-image: url("/static/img/game/ico2.png"); }
  #game-page .list ul li {
    width: 235px;
    height: 350px;
    border: 1px solid #ddd;
    float: left;
    margin: 20px 10px 15px;
    background-size: cover;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }
    #game-page .list ul li:first-child {
      margin-left: 0; }
    #game-page .list ul li:last-child {
      margin-right: 0; }
    #game-page .list ul li:hover {
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px); }
  #game-page .list ul.m1 > li:nth-of-type(1) {
    background-image: url("/static/img/game/m1.jpg"); }
  #game-page .list ul.m1 > li:nth-of-type(2) {
    background-image: url("/static/img/game/m2.jpg"); }
  #game-page .list ul.m1 > li:nth-of-type(3) {
    background-image: url("/static/img/game/m3.jpg"); }
  #game-page .list ul.m1 > li:nth-of-type(4) {
    background-image: url("/static/img/game/m4.jpg"); }
  #game-page .list ul.m2 > li:nth-of-type(1) {
    background-image: url("/static/img/game/h1.jpg"); }
  #game-page .list ul.m2 > li:nth-of-type(2) {
    background-image: url("/static/img/game/h2.jpg"); }
  #game-page .list ul.m2 > li:nth-of-type(3) {
    background-image: url("/static/img/game/h3.jpg"); }
  #game-page .list ul.m2 > li:nth-of-type(4) {
    background-image: url("/static/img/game/h4.jpg"); }
  #game-page .list h4 {
    font-weight: bold;
    color: #4d4d4d;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    line-height: 2.0; }
    #game-page .list h4.m {
      margin-top: 8px; }
  #game-page .list > img {
    display: block;
    width: 500px;
    height: 300px;
    margin: 10px auto 0; }
