#video-page .wrap {
  width: 100%;
  background: #efefef; }
  #video-page .wrap.blue {
    background: #fffcf4; }
  #video-page .wrap.pad {
    padding: 20px 0; }
    #video-page .wrap.pad .content > h2 {
      border-bottom-color: #ccc; }
    #video-page .wrap.pad .content > .item {
      border-color: #ccc; }
#video-page .content {
  width: 1000px;
  margin: 0 auto; }
  #video-page .content h2 {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    line-height: 1.8; }
  #video-page .content > div:last-child {
    margin-right: 0; }
#video-page .content {
  padding: 20px 0 20px; }
#video-page .item {
  position: relative;
  width: 326px;
  height: 318px;
  float: left;
  border: 1px solid #ddd;
  margin-right: 10px;
  margin-top: 25px;
  cursor: pointer; }
  #video-page .item > img {
    display: block;
    width: 325px;
    height: 220px; }
  #video-page .item > div:nth-of-type(1) {
    position: relative;
    height: 98px;
    padding-left: 88px;
    padding-top: 15px; }
    #video-page .item > div:nth-of-type(1) > img {
      position: absolute;
      top: 15px;
      left: 8px;
      width: 70px;
      height: 70px;
      border-radius: 50%; }
    #video-page .item > div:nth-of-type(1) > div:nth-of-type(1) {
      color: #4d4d4d;
      line-height: 1.8;
      margin-top: 4px;
      margin-bottom: 9px; }
      #video-page .item > div:nth-of-type(1) > div:nth-of-type(1) > span {
        float: right;
        color: #ff6666;
        margin-right: 6px; }
  #video-page .item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 96px;
    background: rgba(0, 0, 0, 0.5) url("/static/video/play.png") center center no-repeat;
    display: none; }
  #video-page .item:hover:after {
    display: block; }
